In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_json (r'C:\Users\Ron\Desktop\data.json')
#df = pd.read_csv("data.csv") 
print(df)

     teaching  coursecontent  examination  labwork  library_facilities  \
0           0            0.0          1.0       -1                 0.0
1           1           -1.0          1.0        1                -1.0
2           1            1.0          1.0        1                 1.0
3           1           -1.0         -1.0        1                 0.0
4           1            1.0          1.0        1                 1.0
5           1            1.0          1.0        1                 1.0
6           1            1.0          1.0        1                 1.0
7           1            1.0          1.0        1                 0.0
8           1           -1.0          1.0        1                -1.0
9           1           -1.0          1.0        1                -1.0
10          1            0.0          1.0       -1                 1.0
11          1            0.0          1.0       -1                 1.0
12          1            1.0          1.0       -1                 1.0
13          0           -1.0          0.0        0                 1.0
14          1            1.0          1.0        1                 1.0
15          1            1.0          1.0        1                 1.0
16          1           -1.0          1.0        1                 1.0
17          1           -1.0          1.0        1                 1.0
18          1            1.0          1.0        1                 1.0
19          0            1.0          0.0       -1                 0.0
20          1            1.0          1.0        1                 1.0
21          1            1.0          1.0        1                 1.0
22          1            1.0          1.0        1                 1.0
23          1            1.0          1.0        1                 1.0
24          1           -1.0          1.0        1                -1.0
25          1            1.0          0.0        0                 1.0
26          0           -1.0          1.0       -1                -1.0
27          1            1.0          1.0        1                 1.0
28          1            1.0         -1.0        1                -1.0
29         -1            1.0          1.0       -1                -1.0
..        ...            ...          ...      ...                 ...
155         1            NaN          0.0        1                 1.0
156         1            1.0          1.0        1                 0.0
157         1            1.0          0.0        1                 1.0
158        -1            1.0          1.0       -1                 1.0
159         1            1.0          1.0        1                 0.0
160         1            1.0          1.0       -1                 0.0
161        -1            1.0          1.0        1                 0.0
162         1            1.0          1.0       -1                 1.0
163         0            1.0          1.0        1                 0.0
164         0            1.0          1.0        1                 0.0
165         1           -1.0          0.0        1                 1.0
166         1            1.0          1.0        1                 1.0
167         1            1.0          0.0        1                -1.0
168         1            0.0         -1.0        1                 1.0
169         0            0.0          1.0        0                 0.0
170         1            1.0          1.0        1                 1.0
171         1            0.0          1.0        1                -1.0
172         1            1.0          0.0       -1                 1.0
173         1            1.0          1.0        1                 0.0
174         1            1.0         -1.0        1                 1.0
175         1           -1.0         -1.0        1                 1.0
176         0            1.0          0.0        1                 1.0
177         0           -1.0          1.0       -1                 0.0
178         1            0.0          0.0        1                 1.0
179         1           -1.0          1.0        1                 1.0
180         1            0.0          NaN        1                 NaN
181         1            1.0          1.0        1                -1.0
182         1            1.0          0.0        1                 1.0
183        -1            0.0          1.0       -1                 1.0
184         1           -1.0          0.0        1                -1.0

     extracurricular
0                  1
1                  1
2                  1
3                 -1
4                  1
5                  1
6                  0
7                  0
8                  1
9                  1
10                 1
11                 1
12                 1
13                 1
14                 1
15                 1
16                 1
17                 1
18                 1
19                 0
20                 1
21                 1
22                 1
23                 1
24                 1
25                 1
26                 1
27                 1
28                 1
29                 1
..               ...
155                1
156                1
157                1
158                1
159                1
160                1
161                1
162                1
163               -1
164               -1
165                1
166                1
167                1
168                1
169                1
170                1
171                1
172                1
173                1
174                1
175                1
176                1
177               -1
178                1
179                1
180                1
181                1
182                1
183                1
184                1

[185 rows x 6 columns]

In [16]:
df.head()

,teaching,coursecontent,examination,labwork,library_facilities,extracurricular
0,0,0.0,1.0,-1,0.0,1
1,1,-1.0,1.0,1,-1.0,1
2,1,1.0,1.0,1,1.0,1
3,1,-1.0,-1.0,1,0.0,-1
4,1,1.0,1.0,1,1.0,1

In [18]:
df.dropna(inplace=True)
df

,teaching,coursecontent,examination,labwork,library_facilities,extracurricular
0,0,0.0,1.0,-1,0.0,1
1,1,-1.0,1.0,1,-1.0,1
2,1,1.0,1.0,1,1.0,1
3,1,-1.0,-1.0,1,0.0,-1
4,1,1.0,1.0,1,1.0,1
5,1,1.0,1.0,1,1.0,1
6,1,1.0,1.0,1,1.0,0
7,1,1.0,1.0,1,0.0,0
8,1,-1.0,1.0,1,-1.0,1
9,1,-1.0,1.0,1,-1.0,1
10,1,0.0,1.0,-1,1.0,1
11,1,0.0,1.0,-1,1.0,1
12,1,1.0,1.0,-1,1.0,1
13,0,-1.0,0.0,0,1.0,1
14,1,1.0,1.0,1,1.0,1
15,1,1.0,1.0,1,1.0,1
16,1,-1.0,1.0,1,1.0,1
17,1,-1.0,1.0,1,1.0,1
18,1,1.0,1.0,1,1.0,1
19,0,1.0,0.0,-1,0.0,0
20,1,1.0,1.0,1,1.0,1
21,1,1.0,1.0,1,1.0,1
22,1,1.0,1.0,1,1.0,1
23,1,1.0,1.0,1,1.0,1
24,1,-1.0,1.0,1,-1.0,1
25,1,1.0,0.0,0,1.0,1
26,0,-1.0,1.0,-1,-1.0,1
27,1,1.0,1.0,1,1.0,1
28,1,1.0,-1.0,1,-1.0,1
29,-1,1.0,1.0,-1,-1.0,1
...,...,...,...,...,...,...
153,0,1.0,0.0,1,1.0,1
154,1,1.0,1.0,1,1.0,1
156,1,1.0,1.0,1,0.0,1
157,1,1.0,0.0,1,1.0,1
158,-1,1.0,1.0,-1,1.0,1
159,1,1.0,1.0,1,0.0,1
160,1,1.0,1.0,-1,0.0,1
161,-1,1.0,1.0,1,0.0,1
162,1,1.0,1.0,-1,1.0,1
163,0,1.0,1.0,1,0.0,-1
164,0,1.0,1.0,1,0.0,-1
165,1,-1.0,0.0,1,1.0,1
166,1,1.0,1.0,1,1.0,1
167,1,1.0,0.0,1,-1.0,1
168,1,0.0,-1.0,1,1.0,1
169,0,0.0,1.0,0,0.0,1
170,1,1.0,1.0,1,1.0,1
171,1,0.0,1.0,1,-1.0,1
172,1,1.0,0.0,-1,1.0,1
173,1,1.0,1.0,1,0.0,1
174,1,1.0,-1.0,1,1.0,1
175,1,-1.0,-1.0,1,1.0,1
176,0,1.0,0.0,1,1.0,1
177,0,-1.0,1.0,-1,0.0,-1
178,1,0.0,0.0,1,1.0,1
179,1,-1.0,1.0,1,1.0,1
181,1,1.0,1.0,1,-1.0,1
182,1,1.0,0.0,1,1.0,1
183,-1,0.0,1.0,-1,1.0,1
184,1,-1.0,0.0,1,-1.0,1

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
ideas_count = df['ideas'].value_counts()
sns.set(style="darkgrid")
sns.barplot(ideas_count.index, ideas_count.values, alpha=0.9)
plt.title('Frequency Distribution of ideas')
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('ideas', fontsize=12)
plt.savefig('foo1.png', dpi=100, progressive = True)
plt.show()

In [ ]:
plan_count = df['plan'].value_counts()
sns.set(style="darkgrid")
sns.barplot(plan_count.index, plan_count.values, alpha=0.9)
plt.title('Frequency Distribution of plan')
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('ideas', fontsize=12)
plt.savefig('foo2.png', dpi=100, progressive = True)
plt.show()

In [ ]:
Make_and_test_count = df['Make_and_test'].value_counts()
sns.set(style="darkgrid")
sns.barplot(Make_and_test_count.index,Make_and_test _count.values, alpha=0.9)
plt.title('Frequency Distribution of Make_and_test')
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('ideas', fontsize=12)
plt.savefig('foo3.png', dpi=100, progressive = True)
plt.show()

In [ ]:
Presentation_count = df['Presentation'].value_counts()
sns.set(style="darkgrid")
sns.barplot(Presentation_count.index, Presentation_count.values, alpha=0.9)
plt.title('Frequency Distribution of Presentation')
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('ideas', fontsize=12)
plt.savefig('foo4.png', dpi=100, progressive = True)
plt.show()